/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-track {
    background: var(--scroll-bg);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 20px;
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-color) var(--scroll-bg);
}
.awesomplete .input-with-feedback {
    border: 1px solid var(--border-color);
}
.search-bar .awesomplete input {
    background-color: var(--bg-color)
}
.modal-backdrop{
    background-color: #2c436b !important;
}
.widget .widget-head .widget-title {
    font-size: var(--text-base);
}
.comment-box .comment-input-header, .form-dashboard-section .section-head, .form-section .section-head, .head-title {
    font-size: var(--text-base);
    font-weight: 600;
}
.comment-box .comment-input-container .ql-editor {
    border: 1px solid var(--border-color);
}
.duration-picker .duration-input {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
}
.control-label {
    font-weight: 500;
}


/*****  OVERRIDDEN CSS  *****/

/* Heading Text Color */
/*
.page-head{
    background: #7C7BAD !important;
    background: #7C7BAD !important;
}
.page-container{
    background: url(/web_responsive/static/src/css/../img/home-menu-bg-overlay.svg), linear-gradient(to bottom, #7C7BAD, #c3c2cc); !important;
    background-color: url(/web_responsive/static/src/css/../img/home-menu-bg-overlay.svg), linear-gradient(to bottom, #7C7BAD, #c3c2cc); !important;
}
h3.ellipsis.title-text,
.widget-group .widget-group-head .widget-group-title,
.layout-side-section .sidebar-label{
    color: white !important;
}

*/
/* Form Input Focus *//*

input:focus{
    border: 1px solid #7C7BAD !important;
}
.form-control:focus{
    box-shadow: 0 0 0 2px rgba(94, 108, 162, 0.25) !important;
}

*/
/* Div Padding *//*

.widget.widget-shadow.shortcut-widget-box{
    padding: 5px 10px;
}

*/
/* List Design *//*

.indicator-pill, .indicator-pill-right{
    padding: 7px 8px;
    height: unset;
}

*/
/* Collapse Div Padding *//*

.section-head.collapsed{
    padding: 2px 4px;
}

*/
/* Dropdown List Hover *//*

.awesomplete > ul > li:hover, .awesomplete > ul > li[aria-selected="true"]{
    background-color: #a492bf;
}*/






/* Global CSS */

/* Colours */
:root, [data-theme="light"], [data-theme="dark"] {
    --background-color: #979797;
    --primary-color: #7367f0;
    --secondary-color: #7574ff;
    --white-color: #ffffff;
    --black-color: #000000;
    --gray-color: #888;

    --page-head-height: 50px;
    --navbar-height: 50px;

    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #e6e6e8;
    --bs-border-color-translucent: rgba(47, 43, 61, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 0.625rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.1875rem 0.75rem 0 rgba(47, 43, 61, 0.14);
    --bs-box-shadow-sm: 0 0.125rem 0.5rem 0 rgba(47, 43, 61, 0.12);
    --bs-box-shadow-lg: 0 0.25rem 1.125rem 0 rgba(47, 43, 61, 0.16);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(47, 43, 61, 0.075);
    --bs-focus-ring-width: 0.15rem;
    --bs-focus-ring-opacity: 0.75;
    --bs-focus-ring-color: rgba(47, 43, 61, 0.75);
    --bs-form-valid-color: #28c76f;
    --bs-form-valid-border-color: #28c76f;
    --bs-form-invalid-color: #ff4c51;
    --bs-form-invalid-border-color: #ff4c51;
}
.btn-primary:active,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:focus{
    box-shadow: none !important;
}
.btn-primary{
    color: #fff !important;
    background-color: var(--primary-color) !important;
    border-radius: var(--bs-border-radius);
}
.btn-primary:hover{
    background-color: rgba(115, 103, 240,0.93) !important;
}
/* .btn-secondary{
    background-color: #606060 !important;
    color: var(--white-color) !important;
    border-radius: 0 !important;
    transition: background-color ease-in-out .15s;
}
.btn-secondary:hover{
    background-color: rgba(255, 120, 10, 0.93) !important;
} */
.page-head,
.page-head .page-head-content{
    height: var(--page-head-height);
}
.page-head,
.page-head .page-head-content{
    top: var(--page-head-height);
}



/* Top Header */
.navbar{
    background: var(--white-color) !important;
    height: var(--navbar-height);
}
.navbar-expand{
    background-color: var(--white-color);
}
#navbar-breadcrumbs > li > a::before{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    margin-right: .3em;
    display: inline-block;

    font-size: 24px;
    transition: 0.2s;
    position: relative;
    top: 3px;
    content: "\f105";
    margin-right: 10px;
    color: var(--white-color);
}
#navbar-breadcrumbs a{
    color: var(--white-color);
    text-decoration: none;
}
header .form-control{
    color: var(--white-color);
}
header .form-control:focus{
    border: 0;
}
.search-bar .awesomplete input{
    height: 32px;
}
/*#navbar-search{
    width: 300px;
    background-color: rgb(65, 78, 90);
    border-radius: 0px;
    color: #f9f9f9;
    border: none;
}*/
header ul#navbar-breadcrumbs{
    margin-top: -8px;
}
header .form-control:focus{
    background-color: var(--white-color) !important;
}



/* Sidebar */
.layout-side-section{
    background-color: var(--white-color);
    border-radius: 10px;
}
.layout-side-section .sidebar-label{
    color: var(--primary-color);
}
.sidebar-label svg,
.layout-side-section .sidebar-label .icon{
    stroke: var(--primary-color);
}
.list-sidebar-button{
    background-color: #c8c4c4 !important;
    box-shadow: none !important;
}
.list-sidebar-button:active,
.list-sidebar-button:focus{
    text-decoration: none !important;
    box-shadow: none !important;
}

.desk-sidebar button.standard-sidebar-label{
    display: none;
}

.standard-sidebar .standard-sidebar-item > a, .desk-sidebar .standard-sidebar-item > a, .search-dialog .search-results .search-sidebar .standard-sidebar-item > a
{
    padding: 10px !important;
}

.standard-sidebar .standard-sidebar-item.selected, .desk-sidebar .standard-sidebar-item.selected, .search-dialog .search-results .search-sidebar .standard-sidebar-item.selected
{
    background: linear-gradient(270deg, rgba(115, 103, 240, 0.7) 0%, var(--primary-color) 100%);
    box-shadow: 0px 2px 6px 0px rgba(115, 103, 240, 0.3);

}

.standard-sidebar .standard-sidebar-item.selected > a, .desk-sidebar .standard-sidebar-item.selected > a, .search-dialog .search-results .search-sidebar .standard-sidebar-item.selected > a
{
    color: var(--white-color);
    padding: 10px;
}

.standard-sidebar .standard-sidebar-item.selected > a .icon, .desk-sidebar .standard-sidebar-item.selected > a .icon, .search-dialog .search-results .search-sidebar .standard-sidebar-item.selected > a .icon,
.standard-sidebar .standard-sidebar-item.selected  .es-icon, .desk-sidebar .standard-sidebar-item.selected  .es-icon, .search-dialog .search-results .search-sidebar .standard-sidebar-item.selected  .es-icon
{
    stroke: var(--white-color);
    filter: brightness(10) saturate(100%);
}

.standard-sidebar .standard-sidebar-item:hover, .desk-sidebar .standard-sidebar-item:hover, .search-dialog .search-results .search-sidebar .standard-sidebar-item:hover
{
    background-color: rgba(47, 43, 61, 0.06);
}

/* Input Fields */
input{
    border-radius: 0 !important;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.426rem 0.9375rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.625;
    color: #444050;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: var(--bs-border-width) solid #d1d0d4 !important;
    border-radius: var(--bs-border-radius) !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: calc(0.426rem - var(--bs-border-width)) calc(0.9375rem - var(--bs-border-width));
}

.form-control:focus{
    border-color: var(--primary-color) !important;
    border-width: 2px;
    padding: calc(0.426rem - 2px) calc(0.9375rem - 2px);
    color: #444050;
    background-color: transparent;
    outline: 0;
    box-shadow: 0 2px 6px 0 rgba(115, 103, 240, 0.3);
}

.form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='17' viewBox='0 0 15 14' fill='none'%3E%3Cpath d='M3.41667 7L6.33333 9.91667L12.1667 4.08333' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E);
}
.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: 0 2px 6px 0 rgba(115, 103, 240, 0.3);
}

.form-check .form-check-input {
    float: left;
    margin-left: -1.8em;
}
.form-check-input {
    cursor: pointer;
}
.form-check-input {
    --bs-form-check-bg: transparent;
    flex-shrink: 0;
    width: 1.2em;
    height: 1.2em;
    margin-top: 0.0875em;
    vertical-align: top;
    appearance: none;
    background-color: var(--bs-form-check-bg);
    background-image: var(--bs-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 2px solid #acaab1;
    print-color-adjust: exact;
}
.navbar .navbar-nav a.nav-link{
    color: var(--white-color);
}
span.notifications-seen use,
symbol#icon-small-down{
    fill: var(--white-color);
}


/* Table */
.form-grid{
    border-radius: 0;
    border: 1px solid #bbbbbb;
}
.form-grid .grid-heading-row{
    background-color: #f4f4f4;
}
.grid-heading-row{
    border-bottom: 1px solid var(--primary-color);
}
.grid-row > .row .col{
    border-right: 1px solid #d1d8dd;
}
.form-grid .grid-row:hover{
    background: rgba(255, 152, 0, 0.15);
}

/* Heading Color */
.head-title, .form-section .section-head, .form-dashboard-section .section-head, .comment-box .comment-input-header{
    color: var(--primary-color);
}

/* Lists */
.list-subject a{
    text-decoration: none;
    transition: 0.3s;
}
.list-subject a:hover{
    color: var(--secondary-color);
}


/* Report Table */
.datatable .dt-header .dt-cell--header .dt-cell__content{
    background-color: #f4f4f4;
}


/* Buttons CSS
.filter-button,
.sort-selector-button,
.btn-order{
    background-color: #ea7272 !important;
    color: var(--white-color) !important;
    transition: 0.3s;
    border-radius: 0 !important;
}
.filter-button:hover,
.sort-selector-button:hover,
.btn-order:hover{
    background-color: #c83b3b !important;
}
.filter-button span.filter-icon{
    color: var(--white-color);
}
.filter-button span.filter-icon svg.icon{
    stroke: var(--white-color);
} */
